.navbar-inner{ }
.navbar-taquilla .navbar-inner{
	background:#266088 !important ;
	color:#fff;
}
.navbar .nav > li > a,.navbar .nav > li > a:link{color:#fff;text-shadow:0 0px 0 #aaa; }
.navbar .nav > li > a:hover{color:#fff;text-shadow:0 0px 0 #aaa; }

a.brand{color:#FFB900 !important ;
text-shadow:0 1px 0 #6A6631 !important;
}
