body {
  font: normal 9pt "Verdana";
}
.left-bar {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #b8b8b8;
}
#pagina {
  padding: 0;
  margin: 0;
  background: #FFF;
  height: 100%;
}
.navbar-inner {
  height: 39px;
}
.navbar-taquilla .navbar-inner {
  background: #fce300;
  background: -moz-linear-gradient(top, #fce300 0%, #e8b500 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fce300), color-stop(100%, #e8b500));
  background: -webkit-linear-gradient(top, #fce300 0%, #e8b500 100%);
  background: -o-linear-gradient(top, #fce300 0%, #e8b500 100%);
  background: -ms-linear-gradient(top, #fce300 0%, #e8b500 100%);
  background: linear-gradient(to bottom, #fce300 0%, #e8b500 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fce300', endColorstr='#e8b500', GradientType=0);
  color: #333;
  color: #fff;
}
.navbar-taquilla .navbar-inner li a {
  color: #266088;
  text-shadow: 0 0px 0 #aaa;
}
.dropdown-menu a:hover {
  color: #fff !important;
}
.brand {
  text-shadow: 1px 1px 2px #707070 !important;
  color: #fff !important;
  font-weight: bolder;
}
.brand a {
  color: #000 !important;
  text-shadow: 0 1px 0 #6A6631 !important;
}
#mainmenu {
  height: 30px;
}
#sidebar {
  background: #ebebeb;
  margin-top: 5px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#footer {
  background: #ebebeb;
  color: #555;
  text-align: center;
}
#push,
#footer {
  height: 60px;
}
html,
body {
  color: #333;
  height: 100%;
  background: #fff;
  /* The html and body elements cannot have any padding or margin. */
}
.marquesina {
  background: #4896cc;
  color: #FFF;
}
.controles {
  background: #ebebeb;
  height: 100%;
  margin: 0px;
  width: 100%;
  text-align: center;
}
.controles h2,
.controles h1 {
  margin-top: 0 !important;
}
thead {
  background: #2980b9;
  color: #ecf0f1;
}
.grid-view .table th > .sort-link {
  color: #ffffff !important;
}
.flash-success {
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
}
