// LESS
@primario:#266088;
@secundario:#ebebeb;
@amarillo:#E0D53B;
@sombra: darken(@secundario,20%);
@belize:#2980b9;
@clouds:#ecf0f1;

.gamarillo(){
background: #fce300;
background: -moz-linear-gradient(top,  #fce300 0%, #e8b500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce300), color-stop(100%,#e8b500));
background: -webkit-linear-gradient(top,  #fce300 0%,#e8b500 100%);
background: -o-linear-gradient(top,  #fce300 0%,#e8b500 100%);
background: -ms-linear-gradient(top,  #fce300 0%,#e8b500 100%);
background: linear-gradient(to bottom,  #fce300 0%,#e8b500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce300', endColorstr='#e8b500',GradientType=0 );
color:#333;
}

.area-0(){padding:0;margin:0;}
.area{}
body{font:normal 9pt "Verdana";}

.left-bar{
		.area-0;
		height:100%;
		background:@sombra;
}
#pagina{
	.area-0;
	background:#FFF;
	height:100%;
	padding-top:22px;
}
.navbar-inner{ }
.navbar-taquilla .navbar-inner{
	.gamarillo;
	color:#fff;
	li{
		a{color:@primario;text-shadow:0 0px 0 #aaa;}
	}

}
.dropdown-menu{
	a:hover{color:#fff !important;}
}
.brand{ 
	text-shadow:1px 1px 2px rgb(112, 112, 112) !important;
	color:#fff !important;font-weight:bolder;
	a{color:#000 !important;text-shadow:0 1px 0 #6A6631 !important;}
}
#sidebar{background:@secundario; margin-top:5px}
#wrap{min-height:100%;height:auto !important;height:100%;margin: 0 auto -60px;}
#footer{background:@secundario;color:#555;text-align:center}
#push,#footer{height:60px;}
 html,
 body {
		color:#333;
        height: 100%;
        background:#fff;   
        /* The html and body elements cannot have any padding or margin. */
 }
 .marquesina{
	background:lighten(@primario,20%);
	color:#FFF;
 }
 .controles{background:@secundario; height:100%;margin:0px;width:100%;text-align:center}
thead {background:@belize;color:@clouds}
.grid-view .table th > .sort-link{color:#fff !important}

.flash-success{@radius:0px 0px 4px 4px;border-radius:@radius;-moz-border-radius:@radius}
    
