assets/*
protected/config/*
index.php
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
*.log
protected/runtime/*
protected/runtime/application.log
