[	
	{{#boletos}}
	{
		"zonasAli":[ 		0, 		5,  "{{ZonasAli}}", "Arial", 8,"Bold",	280,15,"I"],
		"cosBol":[ 			35,		8,  "{{VentasCosBol}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"desBol":[ 			0, 		100,  "Pasos a seguir:\n 1.- Entra a www.taquillacero.com/carrera\n2.-Ingresa el numero de boleto.\n3.- Llena el formulario.", 	"Arial", 8,"Normal",	275,75,"C"],
		"evento":[ 			0, 		-52,  "{{EventoNom}}", 	"Arial", 10,"Bold",	275,40,"C"],
		"contenedor1":[ 	-100, 		-210,  "{{contenedor1}}","Imagen", 8,"Bold",	239,69,"I"],
		"codigo":[ 			120,	400,  "{{codigo}}", "Codigo", 11,"Normal",120,40,"I"],
		"codigo2":[			125,	442, "{{LugaresNumBol}}", 	"Lucida Console", 9,"Normal",	280,15,"I"],

		"zonasAli2":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],

		"zonasAli3":[ 		0, 		55,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],

	},
	{{/boletos}}
]
