[	
	{{#boletos}}
	{	"acceso":[ 			0, 		5,  "{{SubzonaAcc}}", 	"Arial", 9,"Bold"],
		"zonasAli":[ 		0, 		5,  "{{ZonasAli}}", "Arial", 9,"Bold"],
		"FilasAli":[ 		-30, 	5,  "{{FilasAli}}", "Arial", 9,"Bold"],
		"lugaresLug":[ 		0, 		5,  "{{LugaresLug}}", "Arial", 9,"Bold"],
		"tipo":[ 			0, 		8,  "{{VentasBolTip}}", 	"Arial", 9,"Bold"],
		"cosBol":[ 			35,		8,  "{{VentasCosBol}}", 	"Arial", 9,"Bold"],
		"carSer":[ 			35,		8,  "{{VentasCarSer}}", 	"Arial", 9,"Bold"],
		"desBol":[ 			0, 		5,  "{{EventoDesBol}}", 	"Arial", 9,"Bold"],
		"evento":[ 			0, 		5,  "{{EventoNom}}", 	"Arial", 12,"Bold"],
		"foro":[ 			0, 		5,  "{{ForoNom}}", 	"Arial", 10,"Bold"],
		"funcion":[ 		0, 		5,  "{{funcionesTexto}}", 	"Arial", 9,"Bold"],
		"contenedor1":[ 	0, 		5,  "{{contenedor1}}","Arial", 9,"Bold"],
		"clave":[ 			-20,	50, "{{VentasCon}}", 	"Arial", 5,"Normal"],
		"codigo":[ 			50,		265,  "{{LugaresNumBol}}", "CCode39", 12,"Normal"],

		"zonasAli2":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold"],
		"filasAli2":[ 		0, 		50,  "{{FilasAli}}", "Arial", 8,"Bold"],
		"lugaresLug2":[ 	0, 		50,  "{{LugaresLug}}","Arial", 8,"Bold"],
		"tipo2":[ 			0, 		50,  "{{VentasBolTip}}", 	"Arial", 8,"Bold"],
		"cosBol2":[ 		0,		50,  "{{VentasCosBol}}", 	"Arial", 8,"Bold"],
		"carser2":[ 		0,		50,  "{{VentasCarSer}}", 	"Arial", 8,"Bold"],
		"clave2":[ 			-20,	50,  "{{VentasCon}}", 	"Arial", 5,"Normal"],

		"zonasAli3":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold"],
		"FilasAli3":[ 		0, 		50,  "{{FilasAli}}", "Arial", 8,"Bold"],
		"lugaresLug3":[ 	0, 		50,  "{{LugaresLug}}","Arial", 8,"Bold"],
		"tipo3":[ 			0, 		50,  "{{VentasBolTip}}", 	"Arial", 8,"Bold"],
		"cosBol3":[ 		0,		50,  "{{VentasCosBol}}", 	"Arial", 8,"Bold"],
		"carser3":[ 		0,		50,  "{{VentasCarSer}}", 	"Arial", 8,"Bold"],

		"codigo2":[			50,		301, "{{LugaresNumBol}}", 	"Arial", 11,"Normal"],
	},
	{{/boletos}}
]
