[	
	{{#boletos}}
	{	"acceso":[ 			0, 		5,  "{{SubzonaAcc}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"zonasAli":[ 		0, 		5,  "{{ZonasAli}}", "Arial", 8,"Bold",	280,15,"I"],
		"FilasAli":[ 		15, 	5,  "{{FilasAli}}", "Arial", 8,"Bold",	280,15,"I"],
		"lugaresLug":[ 		30, 		5,  "{{LugaresLug}}", "Arial", 8,"Bold",	280,15,"I"],
		"tipo":[ 			0, 		8,  "{{VentasBolTip}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"cosBol":[ 			35,		8,  "{{VentasCosBol}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"carSer":[ 			35,		8,  "{{VentasCarSer}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"desBol":[ 			0, 		63,  "{{EventoDesBol}}", 	"Arial", 10,"Bold",	280,15,"C"],
		"evento":[ 			0, 		-52,  "{{EventoNom}}{{EventoNom}}{{EventoNom}}", 	"Arial", 10,"Bold",	280,40,"C"],
		"foro":[ 			0, 		-35,  "{{ForoNom}}", 	"Arial", 10,"Bold",	280,15,"C"],
		"funcion":[ 		0, 		-35,  "{{funcionesTexto}}", 	"Arial", 8,"Bold",	280,15,"C"],
		"contenedor1":[ 	-100, 		-210,  "{{contenedor1}}","Imagen", 8,"Bold",	239,69,"I"],
		"clave":[ 			10,	50, "{{VentasCon}}", 	"Arial", 6,"Bold",	75,25,"C"],
		"codigo":[ 			120,	400,  "{{codigo}}", "Codigo", 11,"Normal",120,40,"I"],

		"zonasAli2":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],
		"filasAli2":[ 		15, 		50,  "{{FilasAli}}", "Arial", 8,"Bold",	110,25,"I"],
		"lugaresLug2":[ 	30, 		50,  "{{LugaresLug}}","Arial", 8,"Bold",	280,15,"I"],
		"tipo2":[ 			0, 		60,  "{{VentasBolTip}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"clave2":[ 			10,	50,  "{{VentasCon}}", 	"Arial", 6,"Bold",	75,25,"C"],

		"zonasAli3":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],
		"FilasAli3":[ 		15, 		50,  "{{FilasAli}}", "Arial", 8,"Bold",	110,25,"I"],
		"lugaresLug3":[ 	30, 		50,  "{{LugaresLug}}","Arial", 8,"Bold",	280,15,"I"],
		"tipo3":[ 			0, 		50,  "{{VentasBolTip}}", 	"Arial", 8,"Bold",	280,15,"I"],

		"codigo2":[			125,	442, "{{LugaresNumBol}}", 	"Lucida Console", 9,"Normal",	280,15,"I"],
	},
	{{/boletos}}
]
