[	
	{{#boletos}}
		"zonasAli":[ 		0, 		5,  "{{ZonasAli}}", "Arial", 8,"Bold",	280,15,"I"],
		"cosBol":[ 			35,		8,  "{{VentasCosBol}}", 	"Arial", 8,"Bold",	280,15,"I"],
		"desBol":[ 			0, 		63,  "{{EventoDesBol}}", 	"Arial", 10,"Bold",	280,15,"C"],
		"evento":[ 			0, 		-52,  "{{EventoNom}}", 	"Arial", 10,"Bold",	275,40,"C"],
		"funcion":[ 		0, 		-35,  "{{funcionesTexto}}", 	"Arial", 8,"Bold",	280,15,"C"],
		"contenedor1":[ 	-100, 		-210,  "{{contenedor1}}","Imagen", 8,"Bold",	239,69,"I"],
		"codigo":[ 			120,	400,  "{{codigo}}", "Codigo", 11,"Normal",120,40,"I"],

		"zonasAli2":[ 		0, 		50,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],

		"zonasAli3":[ 		0, 		55,  "{{ZonasAli}}", "Arial", 8,"Bold",	110,25,"C"],

	},
	{{/boletos}}
]
