[	
	{{#boletos}}
	{	
		"evento":[ 			0, 		-120,  "{{EventoNom}}", 	"Arial", 10,"Bold",	275,40,"C"],
		"foro":[ 			0, 		-100,  "{{ZonasAli}}", 	"Arial", 10,"Bold",	280,15,"C"],
		"contenedor1":[ 	-100, 		-100,  "{{contenedor1}}","Imagen", 8,"Bold",	239,69,"I"],
	},
	{{/boletos}}
]
