<style>
.resaltado {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 90%;
		background: #f5f1bf;
		color: #222;
}
.resaltado-zanahoria {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 90%;
		background: #f5f1bf;
		background: #fbe9d9;
		color: #222;
}
.resaltado-belize {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 90%;
		background: #f5f1bf;
		background: #bedcf0;
		color: #222;
}
</style>
  <table class="table table-condensed table-bordered">
    <thead>
      <th>Boletos</th>
      <th>Ventas</th>
    </thead>
    <tbody>
      {{#taquilla}}
        <tr>
          <td>{{boletos}}</td>
          <td>${{ventas}}</td>
        </tr>
      {{/taquilla}}
      {{#descuentos}}
        <tr>
          <td>{{boletos}}</td>
          <td>${{ventas}}</td>
        </tr>
      {{/descuentos}}
      {{#cupones}}
        <tr>
          
          <td>{{boletos}}</td>
          <td>${{ventas}}</td>
        </tr>
      {{/cupones}}
      <tr><td colspan="2"><br/></td></tr>
      {{#ventas telefonicas}}
        <tr>
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/ventas telefonicas}}

      {{#ventas por internet}}
        <tr>
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/ventas por internet}}

      {{#farmatodo}}
        <tr>
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/farmatodo}}

      {{#taquillas secundarias}}
        <tr>
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/taquillas secundarias}}

      {{#subtotal tc}}
        <tr class="resaltado">
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/subtotal tc}}

      <tr><td colspan="2"><br/></td></tr>
      
      {{#subtotal ventas}}
        <tr class="resaltado-zanahoria">
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/subtotal ventas}}

      <tr><td colspan="2"><br/></td></tr>

      {{#boleto duro}}
        <tr>
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/boleto duro}}
      {{#cortesia}}
        <tr>
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/cortesia}}

      <tr><td colspan="2"><br/><br/></td></tr>

      {{#total}}
        <tr class="resaltado-belize">
          
          <td> {{boletos}}  </td>
          <td>${{ventas}}</td>
        </tr>
      {{/total}}

    </tbody>
  </table>
